[Unit]
Description=Start Regolith Display Daemon
PartOf=regolith-gnome.target regolith-cosmic.target

StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=dbus
BusName=org.gnome.Mutter.DisplayConfig
ExecStartPre=/usr/bin/regolith-displayd-init
ExecStart=/usr/bin/regolith-displayd
Restart=on-failure
RestartSec=5


[Install]
WantedBy=regolith-gnome.target regolith-cosmic.target
