[Unit]
Description=Start Kanshi for Regolith
PartOf=graphical-session.target
PartOf=regolith-gnome.target
PartOf=regolith-cosmic.target
StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/bin/kanshi -c %h/.config/regolith3/kanshi/config
Restart=on-failure

[Install]
WantedBy=regolith-gnome.target regolith-cosmic.target
